<% @reviews.each do |review| %>
    <div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header"><%= review.user.name %> | <%= review.created_at.strftime('%d-%b-%Y (%I:%M%p)') %></div>
    <div class="card-body">
        <p class="card-text"><%= review.score.times do%> ★ <% end %></p>
        <p class="card-text"><%= review.content %></p>
        <% if current_user && (current_user.id == review.user.id) or current_user && current_user.admin %>
            <%= link_to 'Delete', cancha_review_path(@cancha, review), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-outline-danger" %>
        <% end %>
    </div>
    </div>
<% end %>

<%= render "reviews/form" %>
